footer{
    color: var(--white);
    width: 100%;
    text-align: center;
}
footer .inner{
    width: 100%;
    align-items: center;
}

.footer-container .h3{
    font-size: 1.5rem;
    text-decoration: underline 2px var(--orange);
    padding-bottom: 1rem;
}
.kontakt-daten p{
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.menu .h3{
    text-align: center;
}
.footer-nav-list{
    text-align: center;
    font-size: 1.5rem;
}
.footer-nav-list a{
    color: var(--orange);
    font-weight: 500;
}
.footer-nav-list li{
    padding: .3rem 0;
}
.social-media{
    text-align: center;

}
.social-media .h3{
    text-align: center;
}
.social-media i{
    font-size: 2rem;
    margin: 1rem;
}


/* @media query */


@media screen and (min-width:576px){
  footer .inner:nth-child(1) {
    text-align: left;
  }
  footer .inner{
    flex-direction: row;
    max-width: 100%;
  }
}
@media screen and (min-width:768px){
  .footer-container{
      width: 33%;
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
  }
  footer .inner:nth-child(1) {
    text-align: left;
  }
}
